body {
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
    background-repeat: repeat;
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin-top: 70px;
}
#banner {
    width: 45%;
    height: 25vh;
    background-color: aquamarine;
}
#h3-box {
    width: 500px;
    height: 300px;
    margin-left: 1000px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    color: #FFFFFF;
}
.nav-list {
    position: fixed;
    justify-content: -10%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    margin-top: -1%;
    margin-bottom: 100%;
    margin-right: 0%;
    color: white;
    background-color:#3C5179;
    height: 50px;
    width: 30%;
    margin-left: 67%;
    float: inline-start;
    z-index: 2;
  }  
img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
video {
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
}
h2 {
   margin-left: 30vw;
}
#facebook {
    margin-left: 1200px;
}