body {
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
    background-repeat: repeat;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
#navbar {
    position: fixed;
    z-index: 10;
    background-color: red;
    top: 0;
    width: 25%;
    display: block;
    justify-content: right;
}
.nav-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 35px;
}
.nav-list a{
    display: block;
    font-size: 20px;
    color: blue;
}