body {
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L04/task_material/Station_1_Positionierung/images/bg.png);
    background-repeat: repeat;
    font-family: sans-serif;
}
#box {
    margin: 15% auto;
    width: 32.8%;
    height: 40.9%;
}
#plant {
    position: absolute;
    bottom: 60%;
    left: 30%;
}
#penguin {
    position: absolute;
    top: 50%;
    right: 32%;
}