body {
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L04/task_material/Station_1_Positionierung/images/bg.png);
    background-repeat: repeat;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}
#karte {
    display: block;
    position: relative;
}
#karten-text {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    padding: 30px 50px 0px 75px;
}
#karten-pics img{
    position: absolute;
}
