body {
    background-image: url(bg.png);
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.karte {
    display: block;
    position: relative;
}
#banderole {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.video {
    color: white;
    position: absolute;
    top: 25px;
    left: 25px;
}
#yt-vid {
    width: 550px;
    height: 350px;
}