body {
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
    background-repeat: repeat;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
#banner {
    margin-left: 30%;
    width: 45%;
    height: 25vh;
    background-color: aquamarine;
}
#h3-box {
    width: 500px;
    height: 300px;
    margin-left: 55%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    color: #FFFFFF;
}
.nav-list {
    position: fixed;
    align-items: center;
    flex-direction: row;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    margin-top: 0;
    margin-right: 5%;
    color: white;
    background-color:#3C5179;
    height: 50px;
    width: 20%;
    margin-left: 63%;
    z-index: 10;
  }  
.nav-list a:hover {
    color: antiquewhite;
    transition: 0.5s;
}
img {
    margin-left: 30vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
video {
    margin-left: 30vw;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
}
h2 {
   margin-left: 30vw;
}
#facebook {
    margin-left: 1200px;
}