*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
    background-repeat: repeat;
    font-family: sans-serif;
}
h1{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: rgb(131, 47, 47);
}
#banner {
    margin-left: 26%;
    width: 45%;
    height: 35vh;
    background-color: rgb(255, 194, 179);
    box-shadow: 5px 10px rgb(131, 47, 47);
    margin-bottom: 15vh;
    border-radius: 0px 0px 5% 5%;
}
#h3-box {
    width: 500px;
    height: 500px;
    margin-left: 55%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    color: #FFFFFF;
}
.nav-list {
    position: fixed;
    align-items: center;
    flex-direction: row;
    display: grid;
    grid-auto-flow: column;
    margin-top: 0;
    margin-right: 5%;
    color: white;
    background-color:rgb(255, 170, 128);
    height: 5%;
    width: 20%;
    padding-left: 4%;
    margin-left: 70%;
    z-index: 10;
  } 
.nav-list a {
    color: rgb(131, 47, 47);
    transition: 1s;
}
#marked {
    color: rgb(255, 214, 204);
} 
.nav-list a:hover {
    color: rgb(255, 214, 204);
}
.margin-h2 {
    margin-left: 30vw;
    margin-bottom: 20px;
}
img {
    margin-left: 30vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
video {
    margin-left: 30vw;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
}
#facebook {
    margin-left: 1200px;
}

/* about-me-speziell */

main {
    text-align: center;
}